/* src/WaveAnimation.css */

.wave-container {
    position: relative; /* Pour le positionnement de l'élément SVG */
    padding-bottom: 200px; /* Pour laisser de l'espace pour la vague */
}

.wave-background {
    position: absolute; /* Positionné derrière le contenu */
    bottom: 0; /* Aligné au bas de la page */
    left: 0; /* Aligné à gauche */
    width: 100%; /* Prend toute la largeur */
    height: 200px; /* Ajustez la hauteur comme nécessaire */
    pointer-events: none; /* Ignore les événements de souris */
    animation: wave 4s linear infinite; /* Animation de vague */
    z-index: -1; /* Assure que la vague est derrière le contenu */
}

@keyframes wave {
    0% {
        transform: translateX(100%); /* Commence à droite */
    }
    100% {
        transform: translateX(-100%); /* Va à gauche */
    }
}

.float-animation {
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}
